
@model IEnumerable<MusicClub>
@{
    ViewData["Title"] = "Music Clubs";
}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Have a look at all of the Music Clubs </h1>
        <p class="lead text-muted">Here's a collection of all the music clubs created by lovers of music.</p>
       
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        
        <div class="row">
            @foreach(var item in Model)
            {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="@item.ProfilePicUrl" width="100%" height="320" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">@item.Title</p>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text">@item.Street</p>
                        <p class="card-text">@item.Neighbourhood</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                        </div>
                            <small class="text-body-secondary">@item.Genre</small>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>